.link {
    text-transform: uppercase;
    text-decoration: none;
    color: #af4bf2;
    font-weight: bold;
    font-size: 1.5em;
}

.title {
    height: 50vh;
}

.title h1 {
    font-weight: 900;
    animation: color-change 3s infinite;
}

.title h2 {
    font-weight: 500;
    padding: 0 5%;
}

.description {
    height: 25vh;
}

@keyframes color-change {
    0% {
        color: black;
    }
    25% {
        color: #af4bf2;
    }
    50% {
        color: #ff7547;
    }
    100% {
        color: black;
    }
}

@media only screen and (min-width: 980px) {
    .title {
        height: 30vh;
    }
    .title h1 {
        font-size: 3em;
    }
    .title h2 {
        font-size: 2em;
    }
}